body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

li {
  margin-bottom: 10px;
}

.playfield {
  width: 750px;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

.board-info {
	display: flex;
	width: 750px;
	align-items: center;
}

.status {
  margin-bottom: 10px;
  font-size: 30px;
  margin-right: 20px;
  display: inline;
}

.end-turn {
  font-size: 30px;
  margin-bottom: 10px;
}

.board {
  width: 672px;
  height: 672px;
  border: 5px solid black;
  margin: 0 auto;
}

.cell {
  background: #9a7b4f;
  border: 2px solid black;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 84px;
  padding: 0;
  text-align: center;
  width: 84px;
}

.cell:focus {
  outline: none;
}

.kbd-navigation .cell:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.silver {
	color: silver;
}

.gold {
	color: gold;
}

.trap {
	background-image: url("./img/trap.png");
	background-size: 80px;
}

.selected {
	border: 3px solid white;
}