body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 15px;
}

li {
  margin-bottom: 10px;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

.board-info {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 35px;
}

.options-button {
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.board {
  width: 672px;
  height: 671.5px;
  border: 5px solid black;
  margin: 0 auto;
}

.cell {
  background: #9a7b4f;
  border: 2px solid black;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 84px;
  padding: 0;
  text-align: center;
  width: 84px;
}

.cell img {
  width: 80px;
  height: 80px;
}

.cell:focus {
  outline: none;
}

.kbd-navigation .cell:focus {
  background: #ddd;
}

.game {
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 50px;
}

.silver {
  color: silver;
}

.gold {
  color: gold;
}

.trap {
  background-image: url("./img/trap.png");
  background-size: 80px;
}

.own-selected {
  border: 3px solid white;
}

.enemy-selected {
  border: 3px dotted white;
}

.history-turns {
  margin-top: 30px;
}
